# Expo
.expo/
.expo-shared/
dist/
web-build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# OS
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
